#menu_link {
    text-align: center;
    font-size: 2em;
}

table
{
    width: 100%;
    border-spacing: 3px;
}



#header {
    background-color: #abcdef;
    border: solid black 3pt; 
    font-size: 2em;
    text-align: center;
    font-family:Arial;
}

.destination {
    border: solid black 1pt;
    height: auto;
    height:50px;
    font-size: 1.5em;
    text-align: center;
    font-family:Arial;
}

.source {
    font-size: 1.5em;
    text-align: center;
    font-family: Arial;
}


